*{
    margin:0;
    padding:0
}
body {
  overflow-x: auto;
  white-space: nowrap;
}
.row  .col-xs-8 {
  display: inline-flex;
  float: none !important;
}
body{
    background-color: #f3f7f7;
    overflow-x: auto;
}
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-track {
  background: #3a5064;
  border-radius: 10px;       /* color of the tracking area */
  margin-bottom: 20px !important;
}
::-webkit-scrollbar-thumb{
    background-color: #d7d8da;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 20px !important;
}
.theupper{
    margin-bottom: 30px;
}
.fhead{
    font-family: SANS-SERIF;
    text-align: center;
    font-size: xxx-large;
    margin-bottom: 12px;
    margin-top:35px;
    letter-spacing: 15px;
}

.generaldesc{
/*    font-family: 'Courgette', cursive;*/
    text-align: center;
    font-size: 112%;
}
.outerbox{
    width: 35%;
    margin: 10px auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    padding: 20px;
    background-color: #fff;
    padding-top:0;
}
@media only screen and (max-width: 600px) {
    .outerbox{
        width: 75%;
    }
    .social img{
        margin-bottom: 30px;
        margin-left:45px;
    }
    .memberyou{
        font-size:85%;
    }
    body{
        background-color: red;
    }

}
@media only screen and (min-width: 600px ) and (max-width:768px){
    .outerbox{
        width: 60%;
    }
    .social img{
        margin-bottom: 30px;
        margin-left:45px;
    }
}
@media only screen and (min-width: 768px) and (max-width:992px) {
    .outerbox{
        width: 50%;
    }
}
.signupt{
    /*width: 54.5%;*/
    text-align: center;
    background-color: #f3f7f7;
    height: 52px;
    padding-top: 4px;
    
    margin-bottom: 45px;
    border:2px solid transparent;
    font-size: 160%;
    cursor: pointer;
}
.sigand .row{
    margin-right: -19px;
    margin-left: -19px;
}
.sigin{
   display: none; 
}
.form-control{
    background-color: #f3f7f7 !important;
}
.logint{
    /*width: 54.5%;*/
    background-color: #f3f7f7;
    height: 52px;
    text-align: center;
    margin-bottom: 45px;
    padding-top:4px;
    font-size: 160%;
    cursor: pointer
}
.active{
    background-color: #fff;
    color:#000;
    box-shadow: 0px 1px 19px #d2cde4;

}
.first{
    background-color: transparent;
    text-align: center;
    font-size: large;
    box-shadow: 2px 2px 5px #ef9;
    cursor: pointer;
    color: #fff;
    margin-left: -20px;
}
.second{
    background-color: transparent;
    text-align: center;
    font-size: large;
    box-shadow: 2px 2px 5px #ef9;
    cursor: pointer;
    color: #fff;
    margin-right: -20px
}
.outerbox input{
    border-left: 2px solid transparent;
}
#show,
#show2{
    position: absolute;
    top: 12px;
    right: 30px;
    z-index: 2;
    font-size: 19px;
    color:mediumvioletred;
}
.outerbox .input-group-addon{
    background-color:#f3f7f7 ;
}
.memberyou{
    font-size: 103%;
    font-family: ui-monospace;
}
.customhr{
    background-color: #c1c1c1;
}
.connectingwith{
    text-align: center;
    margin-top: 9px;
    font-size: larger;
    color: #c1c1c1;
}
#send{
    
}
.social img{
    height: 40px;
}

/*///////////////////////////////////index styling//////////////////////////////////*/
.todo ,
.doning,
.done {
    height: auto;
    background-color: #ebecf0;
    padding:5px;
    margin-bottom: 30px;
  
    /*overflow-y: auto;*/
    overflow-x: hidden;
}
.todo .todohead{
    display: flex;
}
.option{
    position: absolute;
    right: -50px;
    background: #fff;
    width: 300px;
    height: 315px;
    z-index: 2;
    border-radius: 3%;
    text-transform: capitalize;
    padding:5px;
    top:40px;
    display: none;
}
/*::-webkit-scrollbar*/
.option::-webkit-scrollbar{
    width:6px;
}
.option::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 6px; 
}
.option::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 6px;
    height: 8px !important;
    cursor: pointer;
}
.doinginput{
    background-color: #ebecf0 ! important;
    border: none !important;
}
@media only screen and (max-width: 600px) {
    .option{
        right: -80px;
        width:250px;
    }
}
.option .optionhead p{
    display: inline-block;
    text-align: center;
    font-size:16px;
    color:#888;
}
.option .optionhead span{
    color:#888;
    cursor: pointer;
    font-size:17px;
}
.customizeline{
    margin-top:0;
    margin-bottom: 15px;
}
.optionbody div{
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
    padding:5px;
}
.optionbody div:hover{
    background-color:#e4dfdf;
    padding:5px;
    cursor: pointer;
}
.choice{
    font-size: 19px;
    cursor: pointer;
}
.new{
    height: 30px;
    background-color: hsla(0,0%,100%,.24);
    width: 100%;
    cursor: pointer;
    height: 30px;
    padding: 5px;
    border-radius: 2px;
}
.addingnewlist{
    display: none;
}
.terminallist{
    cursor: pointer;
}
body{
    background-color: #4da0a0 !important;
}
.new:hover{

}
.thewholediv{
    cursor: pointer;
    height: 30px;
    padding:5px;
    width: 90%;
    /* display: inline; */
    float: left;
}
.thewholediv + span{
    margin-top:10px;
    height: 25px;
    padding:5px;
    cursor: pointer;
}
.thewholediv + span:hover{
    background-color: hsla(0,0%,100%,.24);
}
.thewholediv:hover{
    background-color: hsla(0,0%,100%,.24);
}
.addingnewcardbody{
    display: none;
}
.addingnewcardbody textarea{
    border-radius: 4px;
    height: 70px !important;
    resize: none;

}
.addingnewcardbutton{
    margin-top:12px;
}
.cardoption{
    font-size:25px
}
.cradterminal{
    cursor: pointer;
}
.forstyling{
    background-color: #ebecf0 ! important;
    border:none !important;
    height: 30px ! important;
}
.forstyling:hover{
    background-color: hsla(0,0%,100%,.24);
}
.Movement{
    position: relative;
    top: -41px;
    left: 190px;
    cursor: pointer;
}
.showdirection div {
    height: 30px;
    line-height: 0px;
    text-align: center;
    width: 30%;
    margin: 10px auto;

}
.showdirection{
    background-color: white;
    max-height: 150px;
    overflow-y: auto;
    margin-top: -28px;
    display: none;
}
.showdirection div:hover{
    background-color: hsla(0,0%,100%,.24);
}
.gettingfromdataBase{
    margin-top:-8px ! important;
    
}
.withMovment{
    margin-bottom: -23px;
}
.withMovment input{
    background-color: #fff !important;
}
/*/////////////////////////////////Navbar////////////////////////////////////////*/
.navbar{
    background-color: hsla(0,0%,100%,.24) ! important;
    color:white !important;
    width: 100%;
    position: fixed !important;
    margin-bottom: 200px ! important;
}
.fontawsome{
    font-size: 25px;
    color:white ! important;
}
/*////////////////////////////////Board/////////////////*/
.container{
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.custom-container{
    width:550px;
    margin-top:30px;
}
.image{
    width:85px;
    height:85px;
    background-color: hsla(0,0%,100%,.24);
    cursor: pointer;
}
.image i{
    font-size: 80px;
    display: block;
    margin: 35px 16px;
}
.change{
    background-color: rgba(0,0,0,0.5);
    height: 20px;
    width:85px;
}
/*
.firstinner{
    width: 50%;
    height: 55px;
    background-color: red;
    float: left;
}
.secondinner{
    width: 50%;
    height: 50ox;
    height: 55px;
    background-color: blue;
    float: right;
}
.heading{
    text-align: center;
    margin-top: 40px;
    color:beige;
    font-size: xx-large;
    font-family: ui-monospace;
}
.flex-container {
   
    margin-top:80px;
}
.flex-container input{
    display: block;
    width:400px;
    height: 43px;
    margin-bottom: 20px;
    border: 2px solid skyblue;
    border-radius: 23px;
    padding: 12px;
    background-color: transparent;
}
.flex-container input:focus{
     border: 2px solid skyblue;
    border-radius: none;
}
.flex-container input[type='submit']{
    width: 120px;
    font-size: 120%;
    line-height: 0px;
}
